---
---
<!doctype html>
<html lang="{{page.language}}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="description" content="シーサーアプリ Shisa.APP めんそーれ">
        <meta name="keywords" content="application, okinawa, shisa, アプリケーション, 沖縄, シーサー">
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/styles.css">
        <title>shisa.app</title>
        {% include google-analytics.html %}
    </head>
    <body>
        <div class="container-fluid" style="margin-top: 15px;">
            <h1 class="text-center">
            </h1>
            <div class="text-center">
                <img src="/assets/img/mensore.png" style="height: 8em; width: auto;">
            </div>
        </div>
        <h4 class="text-center" style="margin: 1em 0 2.5em 0;">
            {% for language in site.data.languages %}
                <a href="/index/{{language.code}}.html" style="margin: 0 0.2em;">{{language.name}}</a>
            {% endfor %}
        </h4>
    </body>
</html>

